@{
    Layout = "_Layout";
}
@using dotnetApp.ViewModels.Auth
@model LoginViewModel

<div class="container-fluid">
    <div class="row min-vh-96 align-items-center">

        <!-- LEFT: IMAGE -->
        <div class="col-md-7 d-none d-md-flex justify-content-center align-items-center">
            <img src="~/assets/images/login.jpg" class="img-fluid" style="max-height: 80vh;" alt="Login Image" />
        </div>

        <!-- RIGHT: LOGIN FORM -->
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <div class="card border-0 shadow  p-4" style="width: 360px;">

                <h4 class="text-center mb-4 fw-semibold">Sign in to your account</h4>

                <form asp-action="Login" method="post">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="Username" class="form-label small text-muted"></label>
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger small"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="Password" class="form-label small text-muted"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul class="mb-0">
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }

                    <button type="submit" class="btn btn-primary w-100">
                        Sign In
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>